html, body {
    margin: 0;
    height: 100%;
}

.line.solid {
    border-top: 1px solid #fff;
    width: 100%;
}

button.dc-button {
    width: 144px;
    height: 48px;
    background-color: #444444;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden;
    border: 2px solid;
    border-color: #383838;
    color: white;
    font-family: monospace;
  }

  button.dc-button:hover {
    cursor: pointer;
    background-color: #555555;
  }