<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    {% load static %}
    <link href="{% static 'dreamcatcher/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dreamcatcher/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dreamcatcher/posts.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dreamcatcher/dream.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dreamcatcher/entry.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="base">
        <div class="div">
            <div class="header">
                <div class="text-wrapper">DREAMCATCHER</div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="nav">
                <a class="single-tab" href="{% url 'home' %}">
                    <div class="icon-and-text">
                        <!-- <img class="img" src="img/home.svg" /> -->
                        <img class="nav-icon" src="{% static 'dreamcatcher/icons/home.png' %}" />
                        <div class="text-2">Home</div>
                    </div>
                </a>
                <a class="single-tab" href="{% url 'dream-list' %}">
                    <div class="icon-and-text">
                        <img class="nav-icon" src="{% static 'dreamcatcher/icons/cloud.png' %}" />
                        <div class="text">Dreams</div>
                    </div>
                </a>
                <a class="single-tab" href="{% url 'home' %}">
                    <div class="icon-and-text">
                        <img class="nav-icon" src="{% static 'dreamcatcher/icons/profile.png' %}" />
                        <div class="text">Profile</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>