{% extends "dreamcatcher/base.html" %} {% block content %}
<div class="dream-display">
  <div class="dream-title">{{sequence.title}}</div>
  <div class="dream-nav">
    <a class="dream-nav-link selected" href="{% url 'view-dream-sequence' sequence.pk %}">Dream</a>
    <span>|</span>
    <a class="dream-nav-link" href="{% url 'view-dream-analysis' sequence.pk %}">Analysis</a>
    <span>|</span>
    <a class="dream-nav-link" href="{% url 'view-dream-similar' sequence.pk %}">Similar</a>
  </div>
  <img src="{% url 'get-image' sequence.pk %}" width="250em" height="250em" style="padding-bottom: 10px">
  {% for chunk in dreamchunks %} 
  <div class="dream-text">{{chunk.text}}</div>
  {% endfor %}
</div>
{% endblock %}
