{% extends "dreamcatcher/base.html" %}

{% block content %}
<div class="post-items">
    
<div class="post-item">
    <div class="post-header">
        <div class="post-title">My Dream</div>
        <div class="post-date">01.13.2024</div>
        {% load static %}
        <a href="">
            <img class="arrow-right" id="" src="{% static 'dreamcatcher/icons/arrow-right.png' %}">
        </a>
    </div>
    <div class="post-text">In my dream I pooped.</div>
    <hr class="line solid">
</div>

</div>

{% endblock %}