{% extends "dreamcatcher/base.html" %} {% block content %}
<div class="dream-nav">
<a class="dream-nav-link selected" href="{% url 'view-dream-sequence' sequence.pk %}">Dream</a>
<span>|</span>
<a class="dream-nav-link" href="{% url 'view-dream-analysis' sequence.pk %}">Analysis</a>
<span>|</span>
<a class="dream-nav-link" href="{% url 'view-dream-similar' sequence.pk %}">Similar</a>
</div>

<div class="post-items">
  <div class="post-item">
    <div class="post-header">
      <div class="post-title">{{dream.title}}</div>
      <div class="post-date">{{ dream.date_time }}</div>
      {% load static %}
      <a href="">
        <img
          class="arrow-right"
          id=""
          src="{% static 'dreamcatcher/icons/arrow-right.png' %}"
        />
      </a>
    </div>
    <div class="post-text">{{ dream.preview }}</div>
    <hr class="line solid" />
  </div>

  <h3>Similar Dreams</h3>

  {% for dream in dreams %}
  <div class="post-item">
    <div class="post-header">
      <div class="post-title">{{dream.title}}</div>
      <div class="post-date">{{ dream.date_time }}</div>
      {% load static %}
      <a href="/dream/{{dream.id}}">
        <img
          class="arrow-right"
          id=""
          src="{% static 'dreamcatcher/icons/arrow-right.png' %}"
        />
      </a>
    </div>
    <div class="post-text">{{ dream.preview }}</div>
    <hr class="line solid" />
  </div>
  {% endfor %}
</div>

{% endblock %}
