<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link href="{% static 'dreamcatcher/styles.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'dreamcatcher/landing.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="landing">
      <div class="div">
        <div class="frame">
          <div class="DREAM-CATCHER">DREAM<br />CATCHER</div>
        </div>
        <div class="left-button">
          <div class="icon-and-text"><div class="text">Start Dreaming</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
