<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link href="{% static 'dreamcatcher/styles.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'dreamcatcher/new-dream.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="new-dream">
      <div class="div">
        <div class="overlap-group"><div class="text-wrapper">LUCID</div></div>
        <p class="p">Tell me about last night</p>
        <div class="mobile-nav">
          <div class="single-tab">
            <div class="icon-and-text">
              <img class="img" src="img/top-icon.svg" />
              <div class="text">Dreams</div>
            </div>
          </div>
          <div class="icon-and-text-wrapper">
            <div class="icon-and-text-2">
              <img class="img" src="img/home.svg" />
              <div class="text-2">Home</div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="icon-and-text-3">
              <img class="img" src="img/image.svg" />
              <div class="text">Profile</div>
            </div>
          </div>
        </div>
        <div class="rectangle"></div>
        <div class="left-button">
          <div class="icon-and-text-4"><div class="text-3">Enter</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
